{% extends "layout.html" %}
{% block body %}
      <!-- *********** ABOUT CONTENT *********** -->
      <main class="about-content">
        <div class="card" id="how-card">
          <img class="card-img" src="{{ url_for('static', filename="images/sickle_hammer.png") }}">
            <h4>ABOUT MANAFORGED</h4>
        </div>
        <div class="info-container">
          <p>
            This simple app is made to take in a document, 
            and inflate any numbers following a dollar sign.
            <br>
            Mr. Manafort wishes he had something this cool.
          </p>
        </div>
      </main>
      <!-- *********** BUTTON *********** -->
      <div class="try-it-btn-container">
        <a href="/try">
          <button id="try-it-button" class="action-button">Try It</button>
        </a>
      </div>
{% endblock %}
