{% extends "layout.html" %}
{% block body %}
      <!-- *********** EXAMPLES CONTENT *********** -->
      <main class="examples-content">
        <div class="card" id="how-card">
          <img class="card-img" src="{{ url_for('static', filename="images/trump_trail.jpeg") }}">
            <h4>EXAMPLES</h4>
        </div>
        <div class="info-container">
          <p>
           For example, if I upload a document that says I earned $5,000 
                        <br>
           dollars last month a new document will be created but it will say that I earned $10,000 instead.
                        <br>
            We hope you enjoy this funny app.
          </p>
        </div>
      </main>
      <!-- *********** BUTTON *********** -->
      <div class="try-it-btn-container">
        <a href="/try">
          <button id="try-it-button" class="action-button">Try It</button>
        </a>
      </div>
{% endblock %}
