{% extends "layout.html" %}
{% block body %}
      <main class="how-content">
          <div class="card" id="how-card">
            <img class="card-img" src="{{ url_for('static', filename="images/mana.jpeg") }}">
              <h4>HOW IT WORKS</h4>
          </div>
          <div class="info-container">
            <p>
              Some bloody info goes in here about this application.
              <br>
              Put in a PDF and it comes out with the numbers inflated.
            </p>
          </div>
      </main>
      <!-- *********** BUTTON *********** -->
      <div class="try-it-btn-container">
        <a href="/try">
          <button id="try-it-button" class="action-button">Try It</button>
        </a>
      </div>
{% endblock %}
