{% extends "layout.html" %}
{% block body %}
      <!-- *********** TRY IT CONTENT *********** -->
      <main class="try-content">

        <div class="info-container">
          <p>Enter the name of your PDF file on the left.<br></p>
          <p>Then enter a newfile name for your docx version.<br></p>
        </div>
        <div class="input-field-container">
          <form method="post" enctype="multipart/form-data">
            PDF Filemame: <input type="file" name="file">
            <button id="manaforge" type="submit">MANAFORGE</button>
          </form>
        </div>
        <div class="info-container">
          <p>Hopefully display the file ready for download in here.<br>
            Put in a PDF and it comes out with the numbers inflated.</p>
          <p>
            If they click the download it will download to their Default.
          </p>
        </div>
      </main>
{% endblock %}
