{% extends "layout.html" %}
{% block body %}
      <main class="content">
        <!-- *********** CARDS *********** -->
        <div id="cards-container">
          <div class="card">
            <a href="about.html" target="_blank"><img class="card-img" src="{{ url_for('static', filename="images/sickle_hammer.png") }}">
              <h4>ABOUT MANAFORGED</h4>
            </a>
          </div>
          <div class="card">
            <a href="./how.html" target="_blank"><img class="card-img" src="./images/mana.jpeg">
              <h4>HOW IT WORKS</h4>
            </a>
          </div>
          <div class="card">
            <a href="./examples.html" target="_blank"><img class="card-img" src="./images/trump_trail.jpeg">
              <h4>EXAMPLES</h4>
            </a>
          </div>
        </div>
      </main>
      <!-- *********** BUTTON *********** -->
      <div class="try-it-btn-container">
        <a href="./try.html" target="_blank">
          <button id="try-it-button" class="action-button">Try It</button>
        </a>
      </div>
{% endblock %}
